@model IEnumerable<Order>
@{
    ViewData["Title"] = "Historial";
    var date = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    string start = date.ToString("yyyy-MM-dd");
    string end = DateTime.Now.ToString("yyyy-MM-dd");
}

@section Options {
    <div class="op  "><a class="ob" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i><i class="bi bi-house"></i></a></div>
    <div class="op active"><a class="ob" asp-controller="Home" asp-action="Historic"><i class="bi bi-clock-history"></i></a></div>
    <div class="op"><a class="ob" asp-controller="Products" asp-action="Index"><i class="bi bi-archive"></i></a></div>
}


<div class="container">
    <div class="row card custom-card">
    <h3 class="m-3">Descargar Reporte de ventas</h3>
    <div class="row mb-2">
            <div class="col-6">
                <label>Fecha Incio</label>
                <input id="start_date" type="text" class="form-control" data-provide="datepicker" value="@start">

            </div>
            <div class="col-6">
                <label>Fecha Fin</label>
                <input id="final_date" type="text" class="form-control" data-provide="datepicker" value="@end">
            </div>
    </div>
        <div class="row  mb-2">
            <div class="col-12">
            <input class="btn btn-primary" onClick="download()" value="Descargar Reporte" />

            </div>
        </div>
    </div>


</div>

<div class="container">
    @foreach (var order in Model)
    {
        <div class="row card m-2 custom-card">
            <div class="card-header">
                <p>OrderId: @order.OrderId - Fecha: @order.Created</p>
            </div>
            <div class="card-body">
            @foreach (var line in order.orderLines)
            {
                    <p>Producto: @line.Name - Cantidad: @line.Amount  -  Precio: @line.Price - Subtotal: @line.Total</p>
                    @if (!line.Equals(order.orderLines.Last()))
                    {
                        <hr/>
                    }           
            }
            </div>
            <div class="card-footer">
                <p>Total: @order.Total</p>
            </div>
        </div>
    }
</div>

<script>
    

    function convertDateFormat(string) {
        var info = string.split('-').reverse().join('/');
        return info;
   }


    function download() {
        var url = "/Orders/GetReport?";
        var startdate = $('#start_date').val();
        var finaldate = $('#final_date').val();

        if (startdate){
            url += 'start=' + convertDateFormat(startdate) + '&'
        }

        if (finaldate) {
            url += 'final=' + convertDateFormat(finaldate)
        }

        $.ajax({
            type: "POST",
            url: url,
            xhrFields:{
                responseType: 'blob'
            },
            success: function (result) {
                var blob = result;
                var downloadUrl = URL.createObjectURL(blob);
                var a = document.createElement("a");
                a.href = downloadUrl;
                a.download = "Reporte.xlsx";
                document.body.appendChild(a);
                a.click();
            },
            error: function (e){
                alert("Fechas Incorrectas")
            }
        });

    }
</script>