@model IEnumerable<Product>
@{
    ViewData["Title"] = "Productos";
}
@*
<style>
    .grid{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
</style>
<h1>@ViewData["Title"]</h1>

<form asp-action="Home">
    <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Buscar producto..." aria-describedby="SearchBtn">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit" id="SearchBtn">Buscar</button>
  </div>
</div>
</form>*@




<div class="products">
    @foreach (var product in Model)
    {

        <div class="product">
            <div class="divimg">
                <img src="~/imgs/@product.Image" alt="Imagen">
            </div>
            <div class="info">
                <div>
                    <p class="name">@product.Name</p>
                    <div>
                        <p class="price">$ @product.Price</p>
                        <input class="btn comprar" type="button" onclick="AñadirObjeto(@product.ProductId, '@product.Name', @product.Price)" id="@product.ProductId" value="Añadir producto">
                    </div>
                </div>
            </div>
        </div>

@*    <div class="card">
        <div class="card-header">@product.Name</div>
        <div class="card-body"><img style="width: 100%;" src="~/imgs/@product.Image" /></div>
        <div class="card-footer">
            <p>$ @product.Price</p>
            <button id="@product.ProductId" class="btn btn-primary" onclick="AñadirObjeto(@product.ProductId, '@product.Name', @product.Price)">Añadir producto</button>
        </div>
    </div>*@
    }
</div>