@model IEnumerable<Product>
@{
    ViewData["Title"] = "Inicio";
}
@section Options {
    <div class="op active "><a class="ob" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i><i class="bi bi-house"></i></a></div>
    <div class="op"><a class="ob" asp-controller="Home" asp-action="Historic"><i class="bi bi-clock-history"></i></a></div>
    <div class="op"><a class="ob" asp-controller="Products" asp-action="Index"><i class="bi bi-archive"></i></a></div>
}

@*
<style>
    .grid{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
</style>
<h1>@ViewData["Title"]</h1>

*@
<div class="products">
    @{
        if (Model is null) return;

        if (Model.Count() < 1) return;

    <form  asp-action="Index" asp-controller="Home" enctype="multipart/form-data">
        <div class="row m-3">
            <div class="col-6">
                <select class="form-control "  asp-for="@Model.First().Category" asp-items="Html.GetEnumSelectList<Category>()"></select>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-warning fw-bold text-light">Buscar</button>
            </div>
        </div>
        
    </form>
    }
</div>

<div class="products">
    @foreach (var product in Model)
    {
        @if (product.Amount > 0){
            <div class="product">
                <div class="divimg">
                    <img src="~/imgs/@product.Image" alt="Imagen">
                </div>
                <div class="info">
                    <div>
                        <p class="name">@product.Name</p>
                        <div>
                            <p class="price">$ @product.Price</p>
                            <input class="btn comprar" type="button" onclick="AñadirObjeto(@product.ProductId, '@product.Name', @product.Price, @product.Amount)" id="@product.ProductId" value="Añadir producto">
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>