@model IEnumerable<Product>
@{
    ViewData["Title"] = "Inventario";
}
@section Options {
    <div class="op  "><a class="ob" asp-controller="Home" asp-action="Home"><i class="fa-solid fa-house"></i><i class="bi bi-house"></i></a></div>
    <div class="op"><a class="ob" asp-controller="Home" asp-action="Historic"><i class="bi bi-clock-history"></i></a></div>
    <div class="op active"><a class="ob" asp-controller="Products" asp-action="Index"><i class="bi bi-archive"></i></a></div>
}



@*<input placeholder="Buscar producto..." class="form-control mb-3"/>*@
    <a asp-action="Create" class="btn btn-warning text-light fw-bold m-3">Registrar nuevo producto</a>

<div class="products">
    @foreach (var product in Model)
    {
        <div class="product">
            <div class="divimg">
                <img src="~/imgs/@product.Image" alt="">
            </div>
            <div class="info">
                <div>
                    <p class="name">@product.Name</p>
                    <div class="input-group">
                        <a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-warning text-light fw-bold">Editar producto</a>
                        <a asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-secondary text-light fw-bold">Borrar producto</a>
                    </div>
                </div>
            </div>
        </div>

   @* <div class="card">
        <div class="card-header">@product.Name</div>
        <div class="card-body"><img style="width: 100%;" src="~/imgs/@product.Image" /></div>
        <div class="card-footer">
            <p>$ @product.Price</p>
            
        </div>
    </div>*@
    }
</div>